
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <a class="navbar-brand row" href="#">
      <div class="col">
        <img src = {{imgLogin}} alt="navBarImage" style="height: 40px; width: 40px;">
      </div>     
      <div class="col align-self-center">
        Project Gym
      </div>      
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse row" id="navbarNav">

      <ul class="navbar-nav col-sm-8">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inscripciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/clients">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Precios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reportes</a>
        </li>        

      </ul>   
      
      <span class="nav-item col-sm-4 d-flex align-items-end">
        <div ngbDropdown class="d-inline-block ">
          <button class="btn btn-outline-danger " id="dropdownBasic1" ngbDropdownToggle> {{ userLogin }} </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click) = "logout()">Logout</button>
          </div>
        </div>
      </span> 

    </div>
  </div>
</nav> 



