<div class="container mt-3">

  <div class="row">

    <div class="card col-sm-3">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Id</h6>
        <p class="card-text">Gender</p>
        <p class="card-text">Weight</p>
        <p class="card-text">Age</p>
        <p class="card-text">Suscripcion</p>
      </div>
    </div>

    <div class="card col-sm-3">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Id</h6>
        <p class="card-text">Gender</p>
        <p class="card-text">Weight</p>
        <p class="card-text">Age</p>
        <p class="card-text">Suscripcion</p>
      </div>
    </div>

    <div class="card col-sm-3">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Id</h6>
        <p class="card-text">Gender</p>
        <p class="card-text">Weight</p>
        <p class="card-text">Age</p>
        <p class="card-text">Suscripcion</p>
      </div>
    </div>

    <div class="card col-sm-3">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Id</h6>
        <p class="card-text">Gender</p>
        <p class="card-text">Weight</p>
        <p class="card-text">Age</p>
        <p class="card-text">Suscripcion</p>
      </div>
    </div>

  </div>

</div>