<div class="container">

  <h5 class="mt-4">Listado de clientes</h5>

  <form action="" class="form-group mt-3">
    <input class="form-control" placeholder="Search a client" type="text" (input)="searchClients($event)" >
  </form>

  <div class="row justify-content-between">

    <div class="col-md-auto col-sm-6 mt-3" *ngFor = "let client of clientsList">
      <div class="card" style="width: 18rem;">
        <div class="align-self-center">
          <img [src] = "client.Imagen" class="card-img-top mt-2" alt="User Profile" style="height: 150px; width: 150px;">
        </div>        
        <div class="card-body">
          <h5 class="card-title"> {{ client.Nombre }} {{ client.Apellido }} </h5>
          <p class="card-text"> {{client.Cedula}} </p>
          <p class="card-text"> {{ client.Telefono }} </p>
          <p class="card-text"> {{ client.email }} </p>
          <p class="card-text"> {{ client.Fecha_N.seconds * 1000 | date: 'yyyy-MM-dd'}} </p>
        </div>
        <div class="card-body align-self-center">
          <a href="#" class="card-link">Edit</a>
          <a href="#" class="card-link text-danger">Disabled</a>
        </div>
      </div>
    </div>

  </div>

</div>