<div class="container">

  <div class="row">

    <div class="col-md-4">

      <h5 class="title mt-3">Formulario registro de precios</h5>      
      <form class="mt-2" [formGroup] = "priceForm">

        <div class="form-group">
          <input type="text" class="form-control mt-2" placeholder="Nombre" formControlName="nombre" >
        </div>

        <div class="form-group">
          <input type="number" class="form-control mt-2" placeholder="Costo" formControlName="costo" >
        </div>

        <div class="form-group">
          <input type="number" class="form-control mt-2" placeholder="Duracion" formControlName="duracion" >
        </div>

        <div class="form-group" formControlName="tiempo">
          <select class="form-select mt-2">
            <option selected>Selecciona una opcion - Tiempo</option>
            <option value="1">Dia</option>
            <option value="2">Semana</option>
            <option value="3">Quincena</option>
            <option value="4">Mes</option>
            <option value="5">Año</option>
          </select>
        </div>

        <button class="btn btn-primary mt-3 col-4">Save</button>
        <button class="btn btn-warning mt-3 ms-2 col-4">Update</button>

      </form>

    </div>

    <div class="col-md-8">
      <h5 class="title mt-3">Lista de precios</h5>

      <table class="table table-striped mt-2">

        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Costo</th>
            <th scope="col">Duracion</th>
            <th scope="col">Tiempo</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Semana</td>
          </tr>
        </tbody>

      </table>

    </div>

    

  </div>
</div>


