<h5 class="title mt-3">Lista de precios</h5>

<table class="table table-hover mt-2">

  <thead>
    <tr>
      <th scope="col">Cliente</th>
      <th scope="col" class="col-2">F. Inicio</th>
      <th scope="col">F. Final</th>
      <th scope="col">Pago</th>
    </tr>
  </thead>

  <tbody>
    <tr style="cursor: pointer;" *ngFor="let suscription of suscriptionsList">
      <th class="col-5" scope="row"> {{suscription.client?.Nombre}} {{suscription.client?.Apellido}} </th>
      <td> {{suscription.StartDate | date: 'yyyy-MM-dd'}} </td>
      <td> {{suscription.EndDate | date: 'yyyy-MM-dd'}}</td>
      <td> {{suscription.PayInscription}} </td>
    </tr>
  </tbody>

</table>
