<div class="container">

  <h5 class="mt-3">Registrar clientes</h5>

  <form [formGroup]="clientForm" class="mt-3" >
    
    <div class="row">
      
      <div class="col-sm-4">

        <div class="form-group mt-2">
          <input type="text" class="form-control" placeholder="Cedula" formControlName="Cedula" (input) = isEmpty($event)
          [ngClass]= "(this.controlName === 'Cedula' && this.boxState) ? 'form-control border border-secondary' : 'form-control is-invalid'">
        </div>

        <div class="form-group mt-2">
          <input type="text" class="form-control" placeholder="Email" formControlName="email" >
          <div *ngIf = "clientForm.controls['email'].invalid && clientForm.controls['email'].dirty" class="alert alert-danger mt-2" role="alert">
            <span *ngIf = "clientForm.controls['email'].errors?.required">Correo requerido</span>
            <span *ngIf = "clientForm.controls['email'].errors?.email">No tiene formato de correo</span>
          </div>          
        </div>        

      </div>

      <div class="col-sm-4">
        
        <div class="form-group mt-2">
          <input type="text" class="form-control" placeholder="Nombre" formControlName="Nombre"
          [ngClass]= "(this.controlName === 'Nombre' && this.boxState) ? 'form-control border border-secondary' : 'form-control is-invalid'">
        </div>

        <div class="form-group mt-2">
          <input type="text" class="form-control" placeholder="Apellido" formControlName="Apellido" (input) = isEmpty($event)
          [ngClass]= "(this.controlName === 'Apellido' && this.boxState) ? 'form-control border border-secondary' : 'form-control is-invalid'">
        </div>

      </div>

      <div class="col-sm-4">    
        
        <div class="form-group mt-2">
          <input type="text" class="form-control" placeholder="Telefono" formControlName="Telefono" (input) = isEmpty($event)
          [ngClass]= "(this.controlName === 'Telefono' && this.boxState) ? 'form-control border border-secondary' : 'form-control is-invalid'">
        </div>

        <div class="form-group mt-2">
          <input type="date" class="form-control" placeholder="Fecha de nacimiento" formControlName="Fecha_N" (input) = isEmpty($event)
          [ngClass]= "(this.controlName === 'Fecha_N' && this.boxState) ? 'form-control border border-secondary' : 'form-control is-invalid'">
        </div>

      </div>

      <div class="col-sm-12 mt-2">
        <div class="form-group mt-2">
          <input type="file" class="form-control" placeholder="Seleccione una foto" formControlName="Imagen" aria-label="file example">
        </div>
      </div>

    </div>   

    <progressbar [value]="22" type="danger" [striped]="true" class="mt-3">22%</progressbar>

    <button class="btn btn-success mt-3" (click)="saveClient()">Registrar</button>

  </form>

</div>