<div class="container">

  <h5 class="mt-3">Registrar clientes</h5>

  <form [formGroup]="clientForm" class="mt-3" >
    
    <div class="row">
      
      <div class="col-sm-4">

        <div class="form-group mt-2">
          <input type="text" class="form-control" placeholder="Cedula" formControlName="Cedula" (input) = isEmpty($event)
          [className]="!this.boxState2.Cedula ? 'form-control is-invalid' : 'form-control border border-secondary'">
        </div>

        <div class="form-group mt-2">
          <input type="text" class="form-control border border-secondary" placeholder="Email" formControlName="email" (input) = isEmpty($event)
          [className]="!this.boxState2.email ? 'form-control is-invalid' : 'form-control border border-secondary'">
          <div class="text text-danger" *ngIf="clientForm.controls['email'].errors?.email">
            <p>Este no es un correo electronico</p>
          </div> 
        </div>        

      </div>

      <div class="col-sm-4">
        
        <div class="form-group mt-2">
          <input type="text" class="form-control" placeholder="Nombre" formControlName="Nombre" (input) = isEmpty($event)
          [className]="!this.boxState2.Nombre ? 'form-control is-invalid' : 'form-control border border-secondary'">
        </div>

        <div class="form-group mt-2">
          <input type="text" class="form-control" placeholder="Apellido" formControlName="Apellido" (input) = isEmpty($event)
          [className]="!this.boxState2.Apellido ? 'form-control is-invalid' : 'form-control border border-secondary'">
        </div>

      </div>

      <div class="col-sm-4">    
        
        <div class="form-group mt-2">
          <input type="text" class="form-control" placeholder="Telefono" formControlName="Telefono" (input) = isEmpty($event)
          [className]="!this.boxState2.Telefono ? 'form-control is-invalid' : 'form-control border border-secondary'">
        </div>

        <div class="form-group mt-2">
          <input type="date" class="form-control" placeholder="Fecha de nacimiento" formControlName="Fecha_N" (input) = isEmpty($event)
          [className]="!this.boxState2.Fecha_N ? 'form-control is-invalid' : 'form-control border border-secondary'">
        </div>

      </div>

      <div class="col-sm-12 mt-2">
        <div class="form-group mt-2">
          <input type="file" class="form-control border border-secondary" placeholder="Seleccione una foto" formControlName="Imagen" aria-label="file example" 
                 (change)= "imageUpload($event)">
        </div>
      </div>

    </div>   

    <progressbar [value]= "progressBarState" type="info" [striped]="true" class="progress-striped active mt-3"> {{ progressBarState }} </progressbar>

    <button [disabled]="!clientForm.valid" class="btn btn-success mt-3" (click)="saveClient()">Register</button>
    <button [disabled]="!clientForm.valid && this.update === false" class="btn btn-warning mt-3" (click)="updateClient()">Update</button>

  </form>

</div>