
<div>

  <div *ngIf="auth.user | async as user; else showLogin">

    <app-Head ></app-Head>

   <!-- <h1>Hello {{ user.email }}!</h1>
    <button (click)="logout()">Logout</button> -->

    <router-outlet></router-outlet>

  </div>

  <ng-template #showLogin >
    <div *ngIf="loading">
      <ngx-spinner
      bdColor = "rgba(175,165,157,0.8)" 
      size = "large" color = "#69a7e1" 
      type = "ball-scale-multiple" 
      [fullScreen] = "true">
      <p style="color: white">
        Loading...
      </p>
      </ngx-spinner>
    </div>
    <app-Login *ngIf="!loading"></app-Login>
  </ng-template>

</div>

