<div class="container">
  <div class="row mt-3">

    <div class="col-6">

      <app-ListUserRegister
          (sendDataClient)="setDataClient($event)"
          (cancelClientInscription)="dataClientReset()">
      </app-ListUserRegister>

      <div class="col-6 mt-3">
        <div class="form-group">
          <select [(ngModel)]="idValue" class="form-select mt-2" (change)="choosePrice($event)">
            <option [value]= "null" disabled selected hidden>Seleccion una opcion</option>
            <option *ngFor="let price of pricesList" [value]="price.id">
              {{ price.tiempo }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-control mt-3">
        <input class="form-control" type="text" placeholder="Fecha de Inicio" [value]="clientInscription.StartDate | date" disabled>
      </div>

      <div class="form-control mt-3">
        <input class="form-control" type="text" placeholder="Fecha de finalizacion" [value]="clientInscription.EndDate | date" disabled>
      </div>

      <div class="form-control mt-3">
        <input class="form-control" type="number" placeholder="Total valor inscripcion" [value]="clientInscription.PayInscription" disabled>
      </div>

      <div class="col-6 mt-3">
        <button [disabled]="this.inscriptionState === false || this.dataDateState === false" class="btn btn-success" (click)="saveClient()">
          <i class="bi bi-save me-3"></i>
            Save
        </button>
      </div>

    </div>

    <div class="col-6">
      <h5>Otra opcion</h5>
    </div>

  </div>
</div>

